.wrapper .container{
  max-width:700px;
}

.hidden{
    display: none;
}

.footer {
    padding: 2rem 0 2rem;
}

.inline-btn{
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.slidecontainer { 
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top:10px;
    margin-bottom:0px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color-primary);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color-primary);
    cursor: pointer;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: rgb(71, 71, 71);
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px rgb(71, 71, 71);
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .switch .slider.round {
    border-radius: 34px;
  }
  
  .switch .slider.round:before {
    border-radius: 50%;
  }

  .navigation .img {
    color: var(--color-primary);
    top: 0rem;
  }
  
  .status{
    font-weight: 400;
  }

  fieldset:disabled, input:disabled, select:disabled, textarea:disabled {
    background: rgba(175,175,175,0.1);
  }

  #messages{
    height: 300px;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    padding: .6rem 1.0rem;
    width: 100%;
    overflow: scroll;
  }
  .wrapper>.container {
    padding-bottom: 0.5rem;
  }

  #disconnectButton {
    display: none;
  }

  #messages>.sent {
    color: rgb(230, 172, 153);
  }
  .clearLog{
    font-size:1rem;
    height:2.8rem;
    line-height:2.8rem;
    padding:0;
    width:2.8rem;
  }

  .centerthisbox{
    display: flex;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .logo{
    max-width: 100%;
    height: 30px;
    position: relative;
    top: 7px;
  }